<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhe Artigo</title>
</head>
<body>
    <div>
        <h1>Detalhes sobre "{{ artigo.titulo }} - Ed. {{ artigo.edicao_id.numero }}"</h1>
        <h2>Introdução</h2>
        <p>{{ artigo.introducao }}</p>
        <p>Escrito por: <strong>{{ artigo.autor_id.nome }}</strong></p>
        <p>Linguagem: <strong>{{ artigo.linguagem_id.nome }}</strong></p>
        <p>Editorial: <strong>{{ artigo.edicao_id.editorial }}</strong></p>
        <p>Data: <strong>{{ artigo.edicao_id.data }}</strong></p>
            
        <a href="{% url 'listaArtigos' %}">Lista de artigos</a>
    </div>
    <div>
        <h1>Mais tabelas: </h1>
        <div style="font-size: larger">
            <a href="{% url 'listaAutores' %}">Lista de Autores</a><br/>
            <a href="{% url 'listaEdicoes' %}">Lista de Edições</a><br/>
            <a href="{% url 'listaLinguagens' %}">Lista de Linguagens</a><br/>
            <a href="{% url 'listaArtigos' %}">Lista de Artigos</a><br/>
        </div>
        
    </div>
</body>
</html>