*{
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    color: #b8b6b4;
}

body {
    background-image: url("../../assets/images/background.png");
    background-repeat: repeat;  
}

.header {
    background-color: #171a21;
    padding: 10px 0 20px 0;
}

.header-content {
    max-width: 1050px;
    margin: auto;
}

.options {
    display: flex;
    justify-content: end;
    align-items: center;
}

nav {
    display: flex;
    justify-content: start;
    align-items: center;

}

nav img {
    margin-right: 10px;
}

nav a{
    margin: 3px;
}

#logo_steam {
    margin: 0 75px 0 0;
}

.mural {
    
}

.nav_bar {
    display: block;
    margin: 40px auto;
    max-width: 1050px;
}

.ad_event {
    display: block;
    margin: 75px auto;
    max-width: 750px;
    
}

.content {
    background-color: #1b2838;
    min-height: 400px;
    padding: 50px 0;
}

.games-content {
    margin: auto;
    max-width: 1050px;
}

.games {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
    
}

.game {
    width: 350px;

}