<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autores</title>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <h1>Lista de Autores</h1>
    <a href="{% url 'criarAutores' %}">Novo Autor</a>
    <table>
        <tr>
            <th>Nome</th>
            <th>Biografia</th>
            <th>E-mail</th>
            <th>Ações</th>
        </tr>
        {% for autor in autores %}
            <tr>
                <td>{{ autor.nome }}</td>
                <td>{{ autor.biografia }}</td>
                <td>{{ autor.email }}</td>                
                <td>
                    <a href="{% url 'editarAutores' autor.id %}">Editar</a>
                    <a href="{% url 'deletarAutores' autor.id %}">Apagar</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <div>
        <h1>Mais tabelas: </h1>
        <div style="font-size: larger">
            <a href="{% url 'listarAutores' %}">Lista de Autores</a><br/>
            <a href="{% url 'listarEdicoes' %}">Lista de Edições</a><br/>
            <a href="{% url 'listarLinguagens' %}">Lista de Linguagens</a><br/>
            <a href="{% url 'listarArtigos' %}">Lista de Artigos</a><br/>
        </div>
        
    </div>
</body>
</html>